/** {
  border: solid thin black;
}*/

body {
  background-color: #66cccc;
  font-family: 'Open Sans', sans-serif;
}

#logo {
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

#companyname {
  display: inline-block;
  text-align: center;
  font-family: 'Play', sans-serif;
}

nav {
  clear: right;
  display: inline-block;
  float: right;
  margin-top: 25px;
  padding: 10px 0px;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0 10px;
  font-weight: 600;
  font-size: 20px;
}
nav a {
  text-decoration: none;

}
nav a:hover {
  background-color: gray;
}
nav a:visited {
  color: inherit;
}

header {
  background-color: lightgray;
  padding-top: 10px;
}

main {
  width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: lightgray;
  padding: 20px;
  clear: both;
}

.name {
  text-decoration: underline;
  font-weight: 600;
  margin-top: 15px;
}

#content {
  display: inline-block;
  float: left;
  padding: 20px;
  width: 700px;
}

#sidebar {
  display: inline-block;
  float: right;
  padding: 20px;
  width: 400px;
}
#sidebar ul {
  list-style-type: none;
}

img {
  width: 100%;
}

#salmon-jpg {
  clear: both;
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.all-sales-block {
  padding: 10px;
  margin: auto;
  min-width: 800px;
  max-width: 1500px;
}

table, th, td {
  padding: 5px;
  text-align: right;
}
